.todo {
  display: flex;
  position: relative;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  background-color: var(--bg-main-accent);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  animation: slideIn var(--transition);

  &--done {
    .todo__input {
      text-decoration: line-through;
    }
  }

  &--sliding {
    animation: slideOut var(--transition) forwards;
  }

  &__edit,
  &__delete,
  &__confirm,
  &__cancel {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: var(--bg-contrast-accent);
    transition: background-color var(--transition);
  }

  &__edit {
    background-color: var(--color-accent-1);

    &:hover {
      background-color: var(--color-accent-1-hover);
    }
  }

  &__delete,
  &__cancel {
    background-color: var(--color-accent-2);

    &:hover {
      background-color: var(--color-accent-2-hover);
    }
  }

  &__confirm {
    background-color: var(--color-accent-3);

    &:hover {
      background-color: var(--color-accent-3-hover);
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}
