.alert {
  &[data-alert-type="success"] {
    --bg-alert: var(--color-accent-3);
  }

  &[data-alert-type="error"] {
    --bg-alert: var(--color-accent-2);
  }

  position: absolute;
  transform: translateY(calc(-100% - 0.5rem));
  color: var(--bg-contrast-accent);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-alert);
  transition: transform var(--transition);
  box-shadow: 0 0 1rem #0003;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: var(--border-radius);
    width: 0;
    height: 0;
    border: solid 10px transparent;
    border-top-color: var(--bg-alert);
  }
}
